/* Horarios.css */

h1 {
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

#tx_vista{
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}