/* HorariosLista.css */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .dia-column {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
  }
  
  @media (min-width: 768px) {
    /* A partir de 768px de ancho, mostramos dos columnas */
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    /* A partir de 1024px de ancho, mostramos tres columnas */
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .lista-clases {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .clase-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .color-indicador {
    width: 10px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .clase-detalle {
    color: black;
  }
  
  .clase-detalle strong {
    font-size: 1.1em;
  }
  
  h3 {
    margin-top: 0;
    color: black;
  }
  
  p {
    color: #555;
  }
  