/* Asegúrate de que el fondo cubra toda la página */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: black;
}

.App {
  background: linear-gradient(to right, #fff, #f3f3f3);
  /* Fondo en degradado */
  min-height: 100vh;
  /* Asegura que el fondo cubra toda la altura */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Elimina el padding y ajusta el contenido */
.main-content {
  flex: 1;
  padding: 2rem;
  width: 100%;
}

.no-background {
  background: none;
  color: black !important;
}

.footer {
  background-color: #2C3E50;
  color: black;
  text-align: center;
  padding: 1rem;
  width: 100%;
  position: relative;
  bottom: 0;
}

p.card-text {
  color: #282c34 !important;
}

.text_black {
  color: black !important;
}

.text_black {
  color: black !important;
}